@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Lesson 03</h1>
    <h2>Project name is LMS</h2>
    <a asp-controller="Subjects" asp-action="Index" class="btn btn-secondary">View Subjects</a>
</div>
<ejs-chart id="container">
    <e-chart-primaryxaxis valueType="Category">
    </e-chart-primaryxaxis>
    <e-series-collection>
        <e-series name="series1" xName="xValue" yName="yValue" dataSource="ViewBag.dataSource"
                  type="@Syncfusion.EJ2.Charts.ChartSeriesType.Area">
        </e-series>
    </e-series-collection>
</ejs-chart>
