@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2>Project name is LMS</h2>                                                            
    <a asp-controller="Courses" asp-action="Index" class="btn btn-secondary">View Subjects</a>
</div>


