@model IEnumerable<University.ViewModels.Course.CourseView>

@{
    ViewData["Title"] = "Subjects List";
}

    <form class="d-flex justify-content-between">
        <div class="d-flex">
            <input type="search" placeholder="Search" name="search" value="@ViewBag.Search" />
        <button class="btn btn-outline-primary" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>

        <a class="btn btn-success" asp-action="Create">Create New</a>
    </form>

<div class="control-section mt-5" >
    <ejs-grid id="Grid" dataSource="@Model" allowPaging="true">
        <e-grid-pagesettings pageCount="5"></e-grid-pagesettings>
        <e-grid-columns>
            <e-grid-column field="Id" headerText="Id" textAlign="Left" width="50" template="#navigation-template"/>
            <e-grid-column field="Name" headerText="Subject Name" width="100" />
            <e-grid-column field="Description" headerText="Description" width="250" />
            <e-grid-column field="Price" headerText="Price" width="100" format='C2' />
            <e-grid-column field="Discount" headerText="Discount" format='C2' width="100" />
            <e-grid-column field="Rating" headerText="Rating" width="120" format='C2'></e-grid-column>
            <e-grid-column headerText="Details" width="100" ></e-grid-column>
            <e-grid-column headerText="" template="#action-template"></e-grid-column>
        </e-grid-columns>
    </ejs-grid>
</div>

<script id="navigation-template" type="text/x-template">
    <div>
        <a rel="nofollow" href="courses/details/${Id}">${Id}</a>
    </div>
</script>
<script id="action-template" type="text/x-template">
    <a class="text-danger" rel="nofollow" href="Courses/delete/${Id}">
        <i class="fa-solid fa-trash"/>
    </a>
</script>