@model IEnumerable<University.ViewModels.Student.StudentView>

@{
    ViewData["Title"] = "Students List";
}
    <form class="d-flex justify-content-between">
         <div class="d-flex">
            <input class="ps-3" type="search" placeholder="Search" name="search" value="@ViewBag.Search" />
            <button class="btn btn-outline-primary" type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </div>
        
        <a class="btn btn-success" asp-action="Create">
            <i class="fa-solid fa-plus"></i>
            Create New
        </a>
    </form>

<div class="control-section mt-3">
    <ejs-grid id="Grid" dataSource="@Model" allowPaging="true">
        <e-grid-pagesettings pageCount="5"></e-grid-pagesettings>
        <e-grid-columns>
            <e-grid-column field="Id" headerText="Id" textAlign="Left" width="50" template="#navigation-template" />
            <e-grid-column field="FirstName" headerText="First Name" width="100" />
            <e-grid-column field="LastName" headerText="Last Name" width="250" />
            <e-grid-column field="Email" headerText="Email" width="100" />
            <e-grid-column field="PhoneNumber" headerText="Phone Number" width="100" />
        </e-grid-columns>
    </ejs-grid>
</div>

<script id="navigation-template" type="text/x-template">
    <div>
        <a rel="nofollow" href="student/details/${Id}">${Id}</a>
    </div>
</script>